{
    "rules":{
        "camelcase": 1,
        "comma-dangle": 2,
        "comma-spacing": 2,
        "quotes": 0,
        "no-unused-vars": 1,
        "brace-style": 2,
        "block-spacing": 2,
        "function-paren-newline": 2
    },
    "parserOptions": {
      "ecmaVersion": 6
  }
}