{
    "rules":{
        "block-spacing": 2,
        "brace-style": 2,
        "camelcase": 1,
        "comma-dangle": 2,
        "comma-spacing": 2,
        "computed-property-spacing": 2,
        "func-call-spacing": 2,
        "function-paren-newline": 2,
        "multiline-comment-style": 2,
        "semi": 2,
        "quotes": 0,
        "no-unused-vars": 1
    },
    "parserOptions": {
      "ecmaVersion": 6
  }
}